@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Prosto+One");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #000;
  box-sizing: border-box; }

.page-cart {
  width: 100%;
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .page-cart__cart {
    margin: 0 10rem 0 10rem;
    flex-grow: 1;
    display: flex;
    align-content: center;
    background-image: linear-gradient(to bottom, #FFF, #DDD, transparent 100%); }
    @media only screen and (max-width: 75em) {
      .page-cart__cart {
        margin: 0 5rem 0 5rem; } }
    @media only screen and (max-width: 56.25em) {
      .page-cart__cart {
        margin: 0 2rem 0 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .page-cart__cart {
        margin: 0 1rem 0 1rem; } }

.page-contact {
  width: 100%;
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .page-contact__contact {
    margin: 0 10rem 0 10rem;
    flex-grow: 1;
    display: flex;
    align-content: center;
    background-image: linear-gradient(to bottom, #FFF, #DDD, transparent 100%); }
    @media only screen and (max-width: 75em) {
      .page-contact__contact {
        margin: 0 5rem 0 5rem; } }
    @media only screen and (max-width: 56.25em) {
      .page-contact__contact {
        margin: 0 2rem 0 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .page-contact__contact {
        margin: 0 1rem 0 1rem; } }
  .page-contact__footer {
    height: 3rem;
    background-color: #000; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1rem 1rem;
  border-radius: 1rem;
  background-color: rbga(#fff, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  transition: all .3s; }
  @media only screen and (max-width: 56.25em) {
    .form__input {
      width: 100%; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #ffb731; }

.header {
  background-color: #000;
  display: flex;
  height: 4.5rem;
  padding: 0 10rem 0 10rem;
  flex-direction: row;
  justify-content: flex-end; }
  @media only screen and (max-width: 75em) {
    .header {
      padding: 0 5rem 0 5rem; } }
  @media only screen and (max-width: 56.25em) {
    .header {
      padding: 0 2rem 0 2rem; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 0 1rem 0 1rem; } }
  .header__nav-btn {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    display: inline-block;
    text-decoration: none;
    padding: 1.1rem;
    color: #999;
    text-transform: uppercase; }
    @media only screen and (max-width: 37.5em) {
      .header__nav-btn {
        font-size: 1.1rem; } }
    .header__nav-btn:hover {
      color: #ffb731; }
    .header__nav-btn--is-active {
      color: #ffb731;
      border-bottom: 2px solid #ffb731; }
  .header__nav-cart {
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    display: inline-block;
    text-decoration: none;
    padding: 0 0.9rem 0 0.9rem;
    color: #999;
    border: 2px solid #333;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .header__nav-cart:hover {
      border: 2px solid #ffb731; }
    .header__nav-cart--is-active {
      border: 2px solid #ffb731; }

.cart-icon {
  display: flex;
  flex-direction: column; }

.cart-data {
  flex: 1;
  font-family: 'Arial Narrow', Arial, sans-serif;
  padding: 0 0 0 0.7rem;
  display: flex;
  flex-direction: row;
  font-weight: 500; }
  @media only screen and (max-width: 37.5em) {
    .cart-data {
      font-size: 1.2rem; } }
  .cart-data__article {
    padding: 0 0.3rem 0 0.3rem;
    border-right: 0.7px solid #999; }
    .cart-data__article--green {
      color: green;
      font-weight: 800; }
  .cart-data__price {
    padding: 0 0.3rem 0 0.3rem;
    border-left: 0.7px solid #999; }
    .cart-data__price--yellow {
      color: #ffb731;
      font-weight: 800; }

.home {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .home__gtitre {
    font-weight: 100;
    font-size: 4rem;
    margin: 0;
    backface-visibility: hidden;
    display: block;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    letter-spacing: 0.4rem; }
    @media only screen and (max-width: 56.25em) {
      .home__gtitre {
        font-size: 3.2rem;
        letter-spacing: 0.3rem; } }
    @media only screen and (max-width: 37.5em) {
      .home__gtitre {
        font-size: 2.3rem;
        letter-spacing: 0.1rem; } }
  .home__ptitre {
    display: block;
    font-weight: 100;
    margin: 0;
    letter-spacing: 0.6rem;
    backface-visibility: hidden;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 56.25em) {
      .home__ptitre {
        font-size: 2.8rem; } }
    @media only screen and (max-width: 37.5em) {
      .home__ptitre {
        font-size: 1.9rem;
        letter-spacing: 0.2rem; } }
  .home__linkbox {
    text-align: center; }
  .home__btn {
    color: #fff; }
    .home__btn, .home__btn:link, .home__btn:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 4rem;
      display: inline-block;
      border-radius: 1.2rem;
      transition: all .2s;
      position: relative;
      font-size: 1.6rem;
      margin-top: 5rem;
      border: none;
      cursor: pointer; }
    .home__btn:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
      .home__btn:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
    .home__btn:active, .home__btn:focus {
      outline: none;
      transform: translateY(-1px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
    .home__btn--blue {
      background-color: #ffb731; }
      .home__btn--blue::after {
        background-color: #ffb731; }
    .home__btn::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 1.2rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s; }
    .home__btn--animated {
      animation: moveInBottom .5s ease-out .75s;
      animation-fill-mode: backwards; }

.product-card {
  display: flex;
  flex-flow: column;
  width: 30rem;
  height: 40rem;
  box-shadow: 0 10px 30px rgba(44, 62, 80, 0.5);
  margin-bottom: 1.5rem;
  margin-right: 1.5rem; }

.price-tag {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.1rem;
  background-color: rgba(6, 16, 26, 0.95);
  color: #ecf0f1;
  border-radius: 0.25rem;
  padding: 0.1rem 0.4rem;
  bottom: 1rem;
  right: 1rem; }

.product-card-description-box {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  flex: 1 0 auto;
  padding: 0 1rem 1.5rem 1rem;
  box-sizing: border-box;
  background-color: #ecf0f1; }
  .product-card-description-box .row1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin-top: 0.5rem; }

.product-card-name {
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 3px;
  color: #2c3e50;
  height: 2.5rem;
  font-weight: 500; }

.product-card-name-trad {
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 3px;
  color: #2c3e50;
  font-weight: 300; }

.product-card-format {
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #2c3e50;
  font-weight: 500;
  margin-bottom: 0.8rem; }
  .product-card-format__valeur {
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif; }

.product-card-description {
  color: #95a5a6;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  flex: 1; }

.card-link {
  background-color: #1a9cbc; }
  .card-link, .card-link:link, .card-link:visited {
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    color: #ecf0f1;
    border-radius: 0.25rem;
    transition: 0.8s; }
  .card-link:hover, .card-link:focus, .card-link:active {
    background-color: #164da0;
    font-weight: 900; }

.card-button {
  padding: 0.75rem 1.5rem;
  font-size: 1.2rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  color: #ecf0f1;
  border-radius: 0.25rem;
  border: none;
  transition: 0.8s;
  background-color: #1abc9c; }
  .card-button:hover {
    background-color: #0e5547;
    font-weight: 900; }
  .card-button:active, .card-button:focus {
    outline: none;
    background-color: #1abc9c; }

.product-card-gallery {
  position: relative;
  display: flex;
  flex-flow: row;
  flex: 0 0 auto;
  height: 20rem;
  overflow: hidden; }
  .product-card-gallery .gallery-item {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0.25rem 0.25rem 0 0;
    opacity: 0;
    transition: 1s; }
  .product-card-gallery .active {
    width: 100%;
    opacity: 1; }

.page-product {
  width: 100%;
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .page-product__product {
    margin: 0 10rem 0 10rem;
    flex-grow: 1;
    display: flex;
    align-content: center;
    background-image: linear-gradient(to bottom, #FFF, #DDD, transparent 100%); }
    @media only screen and (max-width: 75em) {
      .page-product__product {
        margin: 0 5rem 0 5rem; } }
    @media only screen and (max-width: 56.25em) {
      .page-product__product {
        margin: 0 2rem 0 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .page-product__product {
        margin: 0 1rem 0 1rem; } }

.pro-col {
  display: flex;
  flex-direction: column; }

.page-products {
  width: 100%;
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .page-products__layout {
    margin: 0 10rem 0 10rem;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient(to bottom, #FFF, #DDD, transparent 100%); }
    @media only screen and (max-width: 75em) {
      .page-products__layout {
        margin: 0 5rem 0 5rem; } }
    @media only screen and (max-width: 56.25em) {
      .page-products__layout {
        margin: 0 2rem 0 2rem;
        flex-direction: column;
        flex-wrap: wrap; } }
    @media only screen and (max-width: 37.5em) {
      .page-products__layout {
        margin: 0 1rem 0 1rem; } }
  .page-products__products {
    background-color: #EEE;
    padding: 1.5rem 0 1.5rem 0;
    flex-grow: 1;
    min-height: 100%;
    min-width: 40rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; }
    @media only screen and (max-width: 56.25em) {
      .page-products__products {
        justify-content: space-around; } }

.sidebar {
  background-color: #ecf0f1;
  padding: 1.5rem;
  min-width: 24rem;
  max-width: 28rem;
  text-transform: uppercase; }
  @media only screen and (max-width: 75em) {
    .sidebar {
      min-width: 24rem; } }
  @media only screen and (max-width: 56.25em) {
    .sidebar {
      min-width: 100%; } }
  .sidebar__searchbox {
    width: 100%; }
  .sidebar__list {
    margin-top: 1.5rem; }
    .sidebar__list__headerlist {
      font-size: 1.3rem;
      font-weight: 800;
      color: #333;
      width: 100%;
      letter-spacing: 0.1rem; }
    .sidebar__list__listing {
      font-size: 1.5rem;
      font-weight: 300;
      width: 100%;
      display: inline-block;
      text-decoration: none;
      padding: 0.4rem;
      color: #333;
      border-radius: 0.5rem;
      letter-spacing: 0.1rem;
      padding-left: 1rem; }
      .sidebar__list__listing:hover, .sidebar__list__listing:active {
        text-decoration: underline;
        color: #ffb731; }
      .sidebar__list__listing--is-active {
        color: #ffb731;
        text-decoration: underline; }
      @media only screen and (max-width: 56.25em) {
        .sidebar__list__listing {
          background-color: #CCC;
          width: auto;
          margin: 0.2rem; }
          .sidebar__list__listing:hover {
            color: #fff;
            text-decoration: none;
            background-color: #333; } }
    .sidebar__list__navbox {
      display: flex;
      flex-direction: row; }

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }
  .app-container__container {
    width: 100vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .app-container:before {
    content: "";
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    backface-visibility: hidden;
    background-image: url(././img/gplaypattern.png);
    /* New stuff down here. */
    opacity: 0.8;
    filter: grayscale(100%) invert(100%); }
  .app-container:after {
    content: "";
    position: fixed;
    z-index: -1;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right bottom, #724f0e, #91691e, transparent 70%); }

.row {
  max-width: 114rem;
  margin: 0 auto;
  padding-left: 2.5rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(((100% - 2 * 6rem) / 3) * 2 + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(((100% - 3 * 6rem) / 4) * 2 + 6rem); }
  .row .col-3-of-4 {
    width: calc(((100% - 3 * 6rem) / 4) * 3 + 2 * 6rem); }
